<div class="container">
  <div class="jumbotron">
    <h1>Baseball Player Statistics</h1>
  </div>

  <table id="baseball" class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Player's Name</th>
        <th>AVG</th>
        <th>HR</th>
        <th>RBI</th>
        <th>RUNS</th>
        <th>SB</th>
        <th>OPS</th>
      </tr>
    </thead>
    <tbody>
      <% @outputs.each do |output| %>
        <tr>
          <td><%= output.css('GIVEN_NAME').text + " " + output.css('SURNAME').text %> </td>
          <td>division(<%= output.css('HITS').text %>,<%= output.css('AT_BATS').text %>)</td>
          <td><%= output.css('HOME_RUNS').text %></td>
          <td><%= output.css('RBI').text %></td>
          <td><%= output.css('RUNS').text %></td>
          <td></td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>

<script type="text/javascript">

   function division(x,y) {
       if (x!=0 && y!=0) {
           return x / y;
       }
       else{
           return 0;
       }
   }


</script>